<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="utf-8">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html', '' }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{{ site.logo | absolute_url }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ site.title }}">

    <link rel="icon" type="{{ site.icon_type }}" href="{{ site.icon | absolute_url }}">
    <link rel="shortcut icon" type="{{ site.icon_type }}" href="{{ site.icon | absolute_url }}">

    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/rip.css' | relative_url }}">
  </head>

  <body>
      <header>
        <!-- add properties for usability -->
        <a href="{{ site.url }}" oncontextmenu="return false;" onmousedown="return false;">
          <img src="{{ site.logo | relative_url }}" alt="logo">
        </a>
        <div class="sitetitle">{{ site.title }}</div>
      </header>

      <main>
        {{ content }}
      </main>

      <footer>
        <div class="footer-legal-copyright">
          Copyright © <script>document.write(new Date().getFullYear())</script> 
          RiP International.
          All rights reserved.
        </div>
        <img src="http://www.rays-counter.com/d1274_f6_017/657b06f4ace29/" alt="access-counter across the site" hidden>
      </footer>
  </body>
</html>
